# Docker & Env
.env
.env.*
!.env.example
.DS_Store
*.log
.turbo
coverage
*.tsbuildinfo
node_modules/
dist/
.next/
**/node_modules/
**/dist/
**/.next/
**/prisma/seed.js
**/prisma/seed.js.map
**/prisma/seed.d.ts
init-git.sh
deploy/.api-bundle